<h2 style="margin:0 0 10px 0; font-size:22px; font-weight:600;">
    🎉 Congratulations! Your {{projectName}} Account is Verified!
</h2>

<p style="font-size:14px; line-height:22px; margin:25px 0;">
    Hello {{homeBuyerName}} 👋,
</p>

<p style="font-size:14px; line-height:22px; margin:10px 0;">
    Great news! Your {{projectName}} account has been successfully verified. You are now ready to take the next step:
</p>

<ul>
    <li style="font-size:14px; line-height:22px; margin:10px 0;">
        Select a Contribution Plan and start your journey to homeownership.
    </li>
</ul>

<a href="{{loginLink}}"
    style="color:#ffffff; padding:8px 20px; text-decoration:none; font-size:14px; font-family:Arial, sans-serif; border-radius:12px; display:inline-block; background: linear-gradient(180deg, #049DC8 0%, #0082B5 100%); border: none;">
    Login Here
</a>

<p style="font-size:14px; line-height:20px; margin-top:30px;">
    You are welcome, <br />
    The {{projectName}} Team.
</p>
